# Core dependencies
fastapi
uvicorn
typer
pydantic
numpy>=1.26,<3.0

# Development tools
ruff
pytest
black
pip-tools 

cflib==0.1.17
langchain_core
langchain_community
langgraph
langchain_google_community[drive]
langchain_openai
langchain_anthropic
langchain_deepseek
langchain_google_genai